<h1>Profiles</h1>
<%= search_form_for @q do |f| %>

<p>
  <%=f.label 'People Finder'%>
  <%= f.text_field :name_cont %>
</p>
<p>
  <%=f.submit%>
</p>
<%end %>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= link_to image_tag(user.user_image.thumb.url), user%><br>
  <%= link_to user.name, user %></td>
    
    <td><%= user.role %></td>
    <% if can? :update, user %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<br />
<%= paginate @users, theme: 'twitter-bootstrap'%>

