<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>
<p>
  <b>End at:</b>
  <%= @event.description %>
</p>
<p>
<b>Instructors: </b>
    <%@event.instructors.each do |instructor|%>
 <li><%=link_to "#{instructor.name}", user_path %></li>
  <%end%>
</p>
<p>
<b>Students: </b>
    <%@event.students.each do |student|%>
 <li><%=link_to "#{student.name}", user_path %></li>
  <%end%>
</p>
<%if can? :update, Event%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to 'Back', events_path %>
