<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @course.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @course.end_date %>
</p>

<p>
  <b>Length:</b>
  <%= @course.length %>
</p>
<p>
  <strong>Classrooms:</strong><br>
  <% @course.lessons.each do |lesson| %>
    <%= lessons.datel %> of <%= lessons.classroom.try(:name) %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
